/* Import des variables LESS */
@import 'var.less';

/* ---------------------------------------- */
/* Page d'accueil                           */
/* ---------------------------------------- */
.home-title {
	color: @main-color;
  text-align: center;
}

.home-subtitle {
	color: lighten(@main-color, 10%);
  text-align: center;
}

.home-presentation {
  border-bottom: solid 4px @main-color ;
}

.home-text {
	font-size: 17px;
}

.club-selection {
  border-bottom: solid 4px @main-color ;
}

.club-creation {
  border-bottom: solid 4px @main-color ;
}

/* ---------------------------------------- */
/* Page des membres                         */
/* ---------------------------------------- */

/* clubs classique (pair/impair) */
.club-list-club {
	padding: 10px;
	border: 1px solid lightgray;
	margin: 5px;
	background-color: whitesmoke;
}

/* Au survol d'un membre */
.club-list-club:hover, .club-list-club:link {
	background-color: darken(whitesmoke, 15%);
	text-decoration: none;
}

.club-list-club-title {
	font-size: 18px;
}

.club-list-club-detail {
	font-size: 13px;
}
