/* Import des variables LESS */
@import 'var.less';

/* ---------------------------------------- */
/* Page d'un membre                         */
/* ---------------------------------------- */

/* Image d'un membre */
.member-stats {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid lightgray;
	background-color: lightblue;
}

.member-award {
	margin-left: 1px;
}
.member-award:hover {
	text-decoration:none;
	cursor:  pointer;
}

.member-results {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid lightgray;
	background-color: lemonchiffon;
}

/* Au survol d'un membre */
.member-ranking:hover, .ranking-party:hover {
	background-color: lightgray;
	cursor: pointer;
}

.member-img {
	font-size: 100px;
}
