/* Import des variables LESS */
@import 'var.less';

/* ---------------------------------------- */
/* Page des MTT                             */
/* ---------------------------------------- */
.mtt-actions {
	border: 1px solid lightgray;
	padding: 10px;
}

.mtt-edit {
	border: 1px solid lightgray;
	padding: 10px;
}

/* Membre classique (pair/impair) */
.mtt-list-rankings {
	padding: 5px;
	border: 1px solid black;
  	color: black;
  	background-color: darken(dodgerblue, 15%);
	margin-right: 5px;
	font-size: 15px;

	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}
.mtt-list-rankings:hover {
	color: black;
	background-color: dodgerblue;
	text-decoration: none;
}

/* Image d'un membre */
.mtt-infos {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid lightgray;
	background-color: lightblue;
}

.mtt-date {
	margin-top: 35px;
}
