/* ---------------------------------------- */
/* Variables globales LESS                  */
/* ---------------------------------------- */

/* La limite de 767 px est définie par bootstrap (visible-xs, hidden-xs) */
@mobile-width: 767px;
/* Espacement middle */
@middle-space: 20px;
/* Couleurs globales */
@lines-and-borders: blue;
@table-row-even-odd: #f9f9f9;
/* Footer */
@footer-color: #f4f4f4;
@footer-height: 40px;
@footer-top-space: 10px;

/* Couleur de la ligne de la page login */
@login-separate-line-color: @lines-and-borders;

/* Couleurs pour la page classement (Rankings) */
@match-day-container-color: @lines-and-borders;
@match-row-color: @table-row-even-odd;
@match-detail-label-color: coral;

/* Couleurs pour la page de recherche */
@query-row-color: @table-row-even-odd;
