<div class="container club">
	<menuclub></menuclub>
	 <div class="club-actions" ng-show="isAdminClub()">
		<button class="btn btn-default" type="submit" ng-click="newMtt(idClub)" ng-show="isAdminClub()">Nouveau tournoi</button>
	</div>

	<h3>Présentation</h3>
	<p><b>Site internet : </b><a href="http://www.cantalpokerclub.fr" target="_blank">ww.cantalpokerclub.fr</a></p>

	<h3>Infos sur le club</h3>
	<h3>Calendrier...</h3>
	<h3>Actu du club </h3>
	Dernier tournoi, Classement en cours<br>
	Prochain tournoi...<br>

</div>
