<div class="container">
	<menuclub></menuclub>
	<div class="member-edit" ng-show="(isAdminClub() || isThisMember(data.nummbr)) && edit ===true">
		<form name="member" id="member" ng-submit="addMbr()" novalidate >
			<h3>Edition du membre</h3>
			<div class="col-lg-6">
				<table>
					<thead><h4>Informations générales</h4></thead>
					<tr>
						<td><label>Pseudo</label></td>
						<td>
							<input name="psd" type="text" required ng-model="member.psdmbr"/>
							<div ng-show="member.$submitted || member.psd.$touched">
								<div ng-show="member.psd.$error.required">Le pseudo doit être renseigné</div>
							</div>
						</td>
					</tr>
					<tr>
						<td><label>Nom</label></td>
						<td><input type="text" ng-model="member.nommbr"/></td>
					</tr>
					<tr>
						<td><label>Prénom</label></td>
						<td><input type="text" ng-model="member.prnmbr"/></td>
					</tr>
					<tr>
						<td><label>Date de naissance</label></td>
						<td><div class="input-group ui-datepicker mtt-date">
							<input name="dte" type="text" class="form-control" datepicker-popup="{{format}}"
								   ng-model="member.dtnmbr" is-open="opened" min="minDate" max="'2099-01-01'"
								   datepicker-options="dateOptions"
								   close-text="Fermer"
								   ng-click="open($event)"
								   show-button-bar="false"
								   />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div></td>
					</tr>
					<tr>
						<td><label>Statut</label></td>
						<td>
							<select ng-model="member.stambc">
								<option value="A" selected>Actif</option>
								<option value="I">Inactif</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-6">
				<table>
					<thead><h4>Adresse</h4></thead>
					<tr>
						<td><label>Adresse</label></td><td colspan="3"><input type="text" ng-model="member.adrmbr"/></td>
					</tr>
					<tr>
						<td><label>Code postal</label></td>
						<td><input type="text" ng-model="member.copmbr"/></td>
						<td><label>Ville</label></td>
						<td><input type="text" ng-model="member.vilmbr"/></td>
					</tr>
				</table>
				<br>
				<table>
					<thead><h4>Téléphone / mail</h4></thead>
					<tr>
						<td><label>Téléphone</label></td>
						<td><input type="tel" ng-model="member.telmbr"/></td>
						<td><label>Mobile</label></td>
						<td><input type="tel" ng-model="member.mobmbr"/></td>
					</tr>
					<tr>
						<td><label>Mail</label></td>
						<td colspan="3"><input type="email" ng-model="member.melmbr"/></td>
					</tr>
				</table>
			</div>
			<input type="submit" class="btn btn-default" value="Valider"/>
		</form>
	</div>
	<div class="col-lg-12" ng-show="edit === false">
		<h1 class="member-pseudo">
			<div ng-if="!data.imgusr" class="glyph-icon flaticon-shark-100">
			{{data.psdmbr}}
			</div>
			<div ng-if="data.imgusr" class="member-mbr-img">
				<img img-rep size="118x119" class="member-mbr-img-profile" ng-src="{{data.imgusr}}" >
				{{data.psdmbr}}
			</div>
		</h1>
		<button class="btn btn-default" type="submit" ng-click="linkMbr()" ng-show="isLogin() && user && !data.usrmbr && !user.nummbr">Je suis ce membre</button>
	</div>

	<button class="btn btn-default" type="submit" ng-click="editMbr()" ng-show="(isAdminClub() || isThisMember(data.nummbr)) && edit === false">Modifier</button><br>

	<div class="col-lg-12 member-stats">
		<h4>Statistiques</h4>
		Ce membre a participé à {{data.nbparties}} MTT<br>
		Son pire ennemi est <a ui-sref="member({idClub: idClub, id: memberShark.kilmtm})">{{memberShark.psdmbr}}</a> avec {{memberShark.nbkill}} kills<br>
		Son fish est <a ui-sref="member({idClub: idClub, id: memberFish.mbrmtm})"> {{memberFish.psdmbr}}</a> avec {{memberFish.nbkill}} kills<br>
	</div>
	<div class="col-lg-12 member-results">
		<h4>Palmarès</h4>
		Récompenses aux classements : <a class="member-award" ng-repeat="rnk in memberAwardsRankings" ng-click="showRnk(idClub, rnk.numrnk)">
		<span class="glyph-icon flaticon-trophy36-{{rnk.plcrkm}}-mbr" popover="{{rnk.nomrnk}}" popover-trigger="mouseenter"></span></a><br>
		Récompenses aux tournois : <a class="member-award" ng-repeat="mtt in memberAwardsMtts" ng-click="showMtt(idClub, mtt.nummtt)">
		<span class="glyph-icon flaticon-emblem-{{mtt.plcmtm}}-mbr" popover="{{mtt.dtemtt}}" popover-trigger="mouseenter"></span></a>
	</div>
	<br>

	<tabset>
		<tab heading="Classement">
			<table st-table="displayedMemberRankings" st-safe-src="memberRankings" class="table table-bordered mpc-table">
				<tr>
					<th>Classement</th>
					<th class="hidden-xs">Début le</th>
					<th class="hidden-xs">Fin le</th>
					<th>Rang</th>
					<th>Parties jouées</th>
				</tr>
				<tr class="mpc-table-list" ng-repeat="rnk in displayedMemberRankings" ng-click="showRnk(idClub, rnk.numrnk)">
					<td>{{rnk.nomrnk}}</td>
					<td class="hidden-xs">{{rnk.strrnk}}</td>
					<td class="hidden-xs">{{rnk.endrnk}}</td>
					<td>{{rnk.plcrkm}}/{{rnk.nbprnk}}</td>
					<td>{{rnk.nbprkm}}/{{rnk.nbgrkm}}</td>
				</tr>
				<tfoot ng-show="memberRankings.length > 10">
					<td colspan="5" class="text-center">
						<div st-pagination="displayedMemberRankings" st-items-by-page="10" st-template="templates/pagination.html"></div>
					</td>
				</tfoot>
			</table>
		</tab>
		<tab heading="Parties">
			<table st-table="displayedMemberParties" st-safe-src="memberParties" class="table table-bordered mpc-table">
				<tr>
					<th>Joué le</th>
					<th class="hidden-xs">Type</th>
					<th>Rang</th>
					<th>Points</th>
					<th>Sorti par</th>
				</tr>
				<tr class="mpc-table-list" ng-repeat="partie in displayedMemberParties" ng-click="showMtt(idClub, partie.nummtt)">
					<td>{{partie.dtemtt}}</td>
					<td class="hidden-xs">{{partie.typpartie}}</td>
					<td>{{partie.plcmtm}}/{{partie.nbmmtt}}</td>
					<td>{{partie.ptsmtm}}</td>
					<td>{{partie.killer}}</td>
				</tr>
				<tfoot ng-show="memberParties.length > 10">
					<td colspan="5" class="text-center">
						<div st-pagination="displayedMemberParties" st-items-by-page="10" st-template="templates/pagination.html"></div>
					</td>
				</tfoot>
			</table>
		</tab>
		<tab heading="Fish / Pires ennemis">
			<div class="col-lg-6">
				<h1>Ses fishes</h1>
				<table st-table="displayedMemberFishs" st-safe-src="memberFishs" class="table table-bordered mpc-table">
					<tr>
						<th>Membre</th>
						<th>Nombre de kills</th>
						<th>Fish</th>
					</tr>
					<tr class="mpc-table-list" ng-repeat="mbr in displayedMemberFishs" ng-click="showMember(idClub, mbr.mbrmtm)">
						<td>{{mbr.psdmbr}}</td>
						<td>{{mbr.nbkill}}</td>
						<td>
							<div ng-if="mbr.fish == 'O'" class="glyph-icon flaticon-fish">
							</div>
						</td>
					</tr>
					<tfoot ng-show="memberFishs.length > 10">
						<td colspan="5" class="text-center">
							<div st-pagination="displayedMemberFishs" st-items-by-page="10" st-template="templates/pagination.html"></div>
						</td>
					</tfoot>
				</table>
			</div>
			<div class="col-lg-6">
				<h1>Ses pires ennemis</h1>
				<table st-table="displayedMemberSharks" st-safe-src="memberSharks" class="table table-bordered mpc-table">
					<tr>
						<th>Membre</th>
						<th>Nombre de kills</th>
						<th>Shark</th>
					</tr>
					<tr class="mpc-table-list" ng-repeat="mbr in displayedMemberSharks" ng-click="showMember(idClub, mbr.kilmtm)">
						<td>{{mbr.psdmbr}}</td>
						<td>{{mbr.nbkill}}</td>
						<td>
							<div ng-if="mbr.shark == 'O'" class="glyph-icon flaticon-fish">
							</div>
						</td>
					</tr>
					<tfoot ng-show="memberSharks.length > 10">
						<td colspan="5" class="text-center">
							<div st-pagination="displayedMemberSharks" st-items-by-page="10" st-template="templates/pagination.html"></div>
						</td>
					</tfoot>
				</table>
			</div>
		</tab>
	</tabset>
</div>
