
<div class="row">
	<!--<div class="col-sm-2">
		<h1><a class="site-name" href="#">myPokerClub.com</a>
		<img img-rep size="0x50"></h1>
	</div>-->

	<div class="col-sm-12 club-header">
		<h1><a href="#">{{currentClub.name}}</a>
		<img img-rep size="50x50" ng-show="currentClub.id>0"></h1>
	</div>
</div>

<nav class="navbar-club"><div class="container-fluid">
	<ul class="navbar-nav">
		<li class="item-navbar-club">
			<a ui-sref="club({idClub : currentClub.id})" ng-click="unActiveSubMenu()">
				<span class="glyphicon glyphicon-home submenuglyph"></span>
				<span class="hidden-xs">Club</span>
			</a>
		</li>


		<!-- Membres -->
		<li class="item-navbar-club">
			<a ui-sref="members({idClub : currentClub.id})" ng-click="unActiveSubMenu()">
				<span class="glyphicon flaticon-users submenuglyph"></span>
				<span class="hidden-xs">Membres</span>
			</a>
		</li>

		<!-- Rankings -->
		<li class="item-navbar-club">
			<a ui-sref="rankings({idClub : currentClub.id})" ng-click="unActiveSubMenu()">
				<span class="glyphicon flaticon-podium submenuglyph"></span>
				<span class="hidden-xs">Classements</span>
			</a>
		</li>
	<!--</ul>
	<ul class="nav navbar-nav">-->
		<li class="item-navbar-club dropdown">
			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="dropdownMenu2" ng-click="activeSubMenu()">
				<span class="glyphicon flaticon-card-poker submenuglyph"></span>
				<span class="hidden-xs">Parties</span>
				<span class="caret"></span>
			</a>
			<!-- SOUS MENU / Parties -->
			<ul class="dropdown-menu  hidden-xs" role="menu" aria-labelledby="dropdownMenu2">
				<li>
					<a ui-sref="mtts({idClub : currentClub.id})" class="menu-item">
						<span class="glyphicon glyphicon-sunglasses submenuglyph"></span>
						Tournois<span class="sr-only">Tournois</span>
					</a>
				</li>
				<li>
					<a ui-sref="cgs({idClub : currentClub.id})" class="menu-item">
						<span class="glyphicon glyphicon-usd submenuglyph"></span>
						Cash games<span class="sr-only">Cash games</span>
					</a>
				</li>
			</ul>
		</li>
		<!-- Admin du club -->
		<li class="item-navbar-club" ng-show="isAdminClub()">
			<a ui-sref="adminclub({idClub : currentClub.id})" ng-click="unActiveSubMenu()">
				<span class="glyphicon glyphicon-wrench submenuglyph"></span>
				<span class="hidden-xs">Administration</span>
			</a>
		</li>
	</ul>
	</div>
	<div class="visible-xs" id="menu-component">
		<!-- SOUS MENU / Parties -->
		<ul class="navbar-nav navbar-sub" ng-show="subMenu">
			<li>
				<a ui-sref="mtts({idClub : currentClub.id})" class="menu-item" ng-click="unActiveSubMenu()">
					<span class="glyphicon glyphicon-sunglasses"></span>
					Tournois<span class="sr-only">Tournois</span>
				</a>
			</li>
			<li>
				<a ui-sref="cgs({idClub : currentClub.id})" class="menu-item" ng-click="unActiveSubMenu()">
					<span class="glyphicon glyphicon-usd"></span>
					Cash games<span class="sr-only">Cash games</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
