<div class="container mttList">
	<menuclub></menuclub>
	<h2>Liste des tournois</h2>
	<!-- MTT List template {{data}}-->
	<button class="btn btn-default" type="submit" ng-click="newMtt(idClub)" ng-show="isAdminClub()">Créer</button>

	<div st-table="displayedMttList" st-safe-src="mttList" >
		<div class="col-lg-12 list-filter">
			<h4>Filtres</h4>
			Date
			<input st-search="dtemtt" placeholder="Recherche" type="search"/>
		</div>

		<table class="table table-bordered mpc-table">
			<tr>
				<th>Joué le</th>
				<th class="hidden-xs">Buy in</th>
				<th class="hidden-xs">Places payées</th>
				<th>Participants</th>
				<th>Top 3</th>
			</tr>
			<tr class="mpc-table-list" ng-repeat="mtt in displayedMttList" ng-click="showMtt(idClub, mtt.nummtt)">

				<td>{{mtt.dtemtt}}</td>
				<td class="hidden-xs">{{mtt.buymtt}}</td>
				<td class="hidden-xs">{{mtt.paymtt}}%</td>
				<td>{{mtt.nbpmtt}}</td>
				<td>
					<table class="ranking-top3">
						<tr><td><div class="glyph-icon flaticon-emblem-1"></td> <td>{{mtt.fstmtt}}</td> </tr>
						<tr><td><div class="glyph-icon flaticon-emblem-2"></td> <td>{{mtt.scdmtt}}</td> </tr>
						<tr><td><div class="glyph-icon flaticon-emblem-3"></td> <td>{{mtt.trdmtt}}</td></tr>
					</table>
				</td>
			</tr>
			<tfoot ng-show="mttList.length > 10">
				<td colspan="5" class="text-center">
					<div st-pagination="displayedMttList" st-items-by-page="10" st-template="templates/pagination.html"></div>
				</td>
			</tfoot>
		</table>
	</div>
</div>
