<div class="container mtt">
	<menuclub></menuclub>
	<h2 ng-show="edit ===false">Tournoi du {{dtemttformat}}</h2>

	<div class="mtt-infos" ng-show="edit ===false">
		<label>Buy-in :</label> {{data.buymtt}}<br>
		<label>Places payées :</label> {{data.paymtt}} %<br>
		<label>Classements :</label> <a ng-repeat="rnk in mttRankings" ui-sref="ranking({idClub: idClub, id : rnk.numrnk})" class="mtt-list-rankings">{{rnk.nomrnk}}</a>
	</div>

    <div class="mtt-actions" ng-show="isAdminClub() && edit === false">
        <button class="btn btn-default" type="submit" ng-click="editMtt()">Modifier</button>
        <button class="btn btn-default" type="submit" ng-click="deleteMtt()">Supprimer</button>
        <button class="btn btn-default" type="submit" ng-click="calcPtstMtt()">Calculer les points</button>
        <button class="btn btn-default" type="submit" ng-click="calcPtstRankings()">Mettre à jour les classements</button>
	</div>

	<div class="col-lg-12 mtt-edit" ng-show="isAdminClub() && edit ===true">
		<form name="mtt" id="mtt" ng-submit="addMtt()" novalidate>
			<h3>Edition du tournoi</h3>
			<div class="col-lg-6">
			<table class="mtt-edit-table">
				<thead><h4>Date</h4></thead>
				<tr>
					<td><label>Jour</label></td>
					<td>
						<div class="input-group ui-datepicker mtt-date">
							<input name="dte" type="text" class="form-control" datepicker-popup="{{format}}"
								   ng-model="mtt.dtemtt" is-open="opened" min="minDate" max="'2099-06-22'"
								   datepicker-options="dateOptions"
								   ng-required="true" close-text="Fermer"
								   ng-click="open($event)"
								   show-button-bar="false"
								   />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
            <div ng-show="mtt.$submitted || mtt.dte.$touched" class="mtt-error-message">
						  <div ng-show="mtt.dte.$error.required">La saisie de la date est requise</div>
					  </div>
					</td>
				</tr>
				<tr>
					<td><label>Heure</label></td>
					<td>
						<timepicker ng-model="mtt.hremtt" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
					</td>
				</tr>
				<tfoot>
				</tfoot>
			</table>
			</div>
			<div class="col-lg-6">
				<table class="mtt-edit-table">
					<thead><h4>Calcul</h4></thead>
					<tr>
						<td><label>Buy in : </label></td>
						<td>
							<input name="buy" type="number" string-to-number ng-model="mtt.buymtt" />
							<!--<div ng-show="mtt.$submitted || mtt.buy.$touched">
								<div ng-show="mtt.buy.$error.required">Votre buymtt est requis</div>
							</div>-->
						</td>
					</tr>
					<tr>
						<td><label>Places payées</label></td>
						<td><input type="number" string-to-number ng-model="mtt.paymtt"/></td>
					</tr>
					<tr>
						<td><label>Garantis</label></td>
						<td><input type="number" string-to-number ng-model="mtt.guamtt"/></td>
					</tr>
					<tr>
						<td><label>Ajouté fixe</label></td>
						<td><input type="number" string-to-number ng-model="mtt.fixmtt"/></td>
					</tr>
					<tr>
						<td><label>Ajouté par joueurs</label></td>
						<td><input type="number" string-to-number ng-model="mtt.plymtt"/></td>
					</tr>
					<tr>
						<td><label>Points par kill</label></td>
						<td><input type="number" string-to-number ng-model="mtt.kilmtt"/></td>
					</tr>
				</table>
				<input type="hidden" string-to-number ng-model="nummtt"/><br>
			</div>
			<div class="col-lg-12">
				<label>Classements</label><br>
				<tags-input ng-model="mttRankings" add-on-paste="true">
					<auto-complete source="loadTags($query)" min-length="1"></auto-complete>
				</tags-input>
				<!--<p>rnk: {{mttRankings}}</p>-->
			</div>

		</form>
	</div>

    <h3>Résultats</h3>
	<div class="col-lg-12 mtt-edit" ng-show="isAdminClub() && edit ===true">
		<h4>Import</h4>
		<input type="file" on-read-file="showContent($fileContent)" value="rrr"/>
		<div ng-if="content">
			<h2>File content is:</h2>
			<pre>{{ content }}</pre>
			<button class="btn btn-default" type="submit" ng-click="importFile()">Importer</button>
		</div>
	</div><br>
	<button class="btn btn-default" type="submit" ng-click="addMttMember()" ng-show="isAdminClub() && edit === true">Ajouter un membre</button>
	<table st-table="displayedMttMembers" st-safe-src="mttMembers" contextmenu=""class="table table-bordered mpc-table">
		<tr>
			<th>Place</th>
			<th>Pseudo</th>
			<th>Eliminé par</th>
			<th class="hidden-xs">Kills</th>
			<th >Points</th>
			<th ng-show="isAdminClub() && edit === true">Actions</th>
		</tr>
		<tr class="mpc-table-list" ng-repeat="mtm in displayedMttMembers" ng-click="showMember(idClub, mtm.mbrmtm, edit, $event)">

			<td>
				{{mtm.plcmtm}}  <span class="glyph-icon flaticon-emblem-{{mtm.plcmtm}}-rnk" ng-show="mtm.plcmtm<=3" />
			</td>
			<td>
				<div ng-show="edit ===false">
				{{mtm.psdmbr}}
				</div>
				<div ng-show="isAdminClub() && edit ===true">
					<select ng-click="" ng-model="mtm.mbrmtm">
						<option ng-repeat="mbr in members" value="{{mbr.nummbr}}" ng-selected="{{mbr.nummbr === mtm.mbrmtm}}">{{mbr.psdmbr}}</option>
					</select>
					<input ng-model="mtm.psdmbr"/><br>
          <input type="checkbox" ng-model="mtm.isNewMember"> Nouveau membre
				</div>
			</td>
			<td>
				<div ng-show="edit ===false">{{mtm.psdmbe}}</div>
				<div ng-show="isAdminClub() && edit ===true">
					<select ng-click="" ng-model="mtm.kilmtm">
						<option ng-repeat="mbr in members" value="{{mbr.nummbr}}" ng-selected="{{mbr.nummbr == mtm.kilmtm}}">{{mbr.psdmbr}}</option>
					</select>
					<input ng-model="mtm.psdmbe"/>
				</div>
			</td>
			<td class="hidden-xs">{{mtm.nbkill}} </td>
			<td>
				<div ng-show="edit ===false">{{mtm.ptsmtm}}</div>
				<div ng-show="isAdminClub() && edit ===true">
					<input type="number" string-to-number ng-model="mtm.ptsmtm"/>
				</div>
			</td>
			<td ng-show="isAdminClub() && edit === true">
				<button class="btn btn-default" type="submit" ng-click="deleteMttMember(mtm.plcmtm, $event)" >Supprimer</button>
			</td>
		</tr>
		<tfoot ng-show="mttMembers.length > 15">
			<td colspan="5" class="text-center">
				<div st-pagination="displayedMttMembers" st-items-by-page="15" st-template="templates/pagination.html"></div>
			</td>
		</tfoot>
	</table>

	<input type="submit" value="Valider" class="btn btn-default" form="mtt" ng-show="isAdminClub() && edit ===true"/>
	<button type="submit" class="btn btn-default" form="mtt" ng-show="isAdminClub() && edit ===true" ng-click="cancelEdit()">Annuler</button>

</div>
