<div class="container ranking">
	<menuclub></menuclub>
    <h3>{{data.nomrnk}}</h3>
	<div class="col-lg-12 ranking-edit" ng-show="isAdminClub() && edit === true">
        <form name="rnk" id="rnk" ng-submit="addRnk()" novalidate>

            <h3>Edition du classement Classement</h3>
			<div class="col-lg-6">
            <table class="">
				<thead><h4>Nom et période</h4></thead>
				<tr>
					<td>
						<label>Nom</label>
					</td>
					<td>
						<input name="nom" type="text" required ng-model="rnk.nomrnk"/>
						<div ng-show="rnk.$submitted || rnk.nom.$touched">
							<div ng-show="rnk.nom.$error.required">Le nom du classement doit être renseigné</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>Date de début</label>
					</td>
					<td>
						<div class="input-group ui-datepicker mtt-date">
							<input name="str" type="text" class="form-control" datepicker-popup="{{format}}"
								   ng-model="rnk.strrnk" is-open="openedStr" min="minDate" max="'2015-06-22'"
								   datepicker-options="dateOptions"
								   ng-required="true" close-text="Fermer"
								   ng-click="open($event)"
								   show-button-bar="false"
								   />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openStr($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
						<div ng-show="rnk.$submitted || rnk.str.$touched">
							<div ng-show="rnk.str.$error.required">La date de début doit être renseignée</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>Date de fin</label>
					</td>
					<td>
						<div class="input-group ui-datepicker mtt-date">
							<input name="end" type="text" class="form-control" datepicker-popup="{{format}}"
								   ng-model="rnk.endrnk" is-open="opened" min="minDate" max="'2015-06-22'"
								   datepicker-options="dateOptions"
								   ng-required="true" close-text="Fermer"
								   ng-click="open($event)"
								   show-button-bar="false"
								   />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
						<div ng-show="rnk.$submitted || rnk.end.$touched">
							<div ng-show="rnk.end.$error.required">La date de début doit être renseignée</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><label>Statut</label>	</td>
					<td>
						<select ng-model="rnk.starnk">
							<option value="E" selected>En cours</option>
							<option value="T">Terminé</option>
						</select>
					</td>
				</tr>
			</table>
			</div>
			<div class="col-lg-6">
			<table class="">
				<thead><h4>Informations de calcul</h4></thead>
				<tr>
					<td><label>Bankroll : </label></td>
            		<td><input type="number" string-to-number ng-model="rnk.bkrrnk"/></td>
				<tr>
            		<td><label>Nombre de tournois minimun à jouer : </label></td>
            		<td><input type="number" string-to-number ng-model="rnk.minrnk"/></td>
				</tr>
				<tr>
            		<td><label>Résultats : </label></td>
            		<td><input type="number" string-to-number ng-model="rnk.resrnk"/></td>
				</tr>
			</table>
			</div>
			<div class="col-lg-12">
            	<input type="submit" class="btn btn-default" value="Valider"/>
			</div>
        </form>
    </div>


	<div class="col-lg-12 ranking-stats" ng-hide="isAdminClub() && edit === true">
		<div id="infos-component">
			Dates : du {{data.strrnk}} au {{data.endrnk}}<br>
			Statut : <span ng-show="data.starnk === 'E'">En cours</span><span ng-show="data.starnk === 'T'">Terminé</span> <br>
			Bankroll de départ : {{data.bkrrnk}}<br>
			Parties : {{data.nbparties}}<br>
			Participants : {{data.nbmembers}}<br>
			Nombre de participations requises : TODO<br>
			Nombre de tournois comptabilisés : TODO<br>
		</div>
	</div>

    <div class="col-lg-12 ranking-actions" ng-show="isAdminClub() && edit === false">
        <button class="btn btn-default" type="submit" ng-click="editRnk()">Modifier</button>
        <button class="btn btn-default" type="submit" ng-click="deleteRnk()">Supprimer</button>
	</div>

	<tabset>
		<tab heading="Classement" class="tabset-tab">
			<!--<label for="items">Eléménts par pages</label>
			<input class="input-sm form-control ng-pristine ng-untouched ng-valid" name="items" id="items" type="number" ng-model="itemsByPageMember">-->
			<table st-table="displayedMembers" st-safe-src="rankingMembers" class="table table-bordered mpc-table ranking-table">
				<thead>
				<tr>
					<th>Place</th>
					<th>Pseudo</th>
					<th >Points</th>
					<th class="hidden-xs">ITM / Parties</th>
					<th class="hidden-xs">Validé</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="ranking in displayedMembers" class="mpc-table-list" ng-click="showMember(idClub, ranking.nummbr)">

					<td><h3>{{ranking.plcrkm}} <span class="glyph-icon flaticon-trophy36-{{ranking.plcrkm}}-rnk" ng-show="ranking.plcrkm<=3" /></h3></td>
					<td>
						<table>
							<tr>
								<td>
									<div ng-if="ranking.imgusr" class="ranking-list-img">
										<img img-rep size="54x61" class="member-list-img-profile" ng-src="{{ranking.imgusr}}">
									</div>
                    				<div ng-if="!ranking.imgusr" class="glyph-icon flaticon-shark-rnk"></div>
								</td>
								<td>{{ranking.psdmbr}}</td>
							</tr>
						</table>
					</td>
					<td>{{ranking.ptsrkm}}</td>
					<td class="hidden-xs">{{ranking.nbitm}}/{{ranking.nbpmbr}} ({{(ranking.nbitm/ranking.nbpmbr * 100).toFixed(2)}}% ITM)</td>
					<td class="hidden-xs">A faire</td>
				</tr>
				</tbody>
				<tfoot ng-show="rankingMembers.length > 10">
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="displayedMembers" st-items-by-page="itemsByPageMember" st-template="templates/pagination.html"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</tab>
		<tab heading="Parties">
			<table st-table="displayedRankingParties" st-safe-src="rankingParties" class="table table-bordered mpc-table">
				<tr>
					<th>Date</th>
					<th>Type</th>
					<th class="hidden-xs">Participants</th>
					<th class="hidden-xs">Podium</th>
				</tr>
				<tr class="mpc-table-list" ng-repeat="party in displayedRankingParties" ng-click="showMtt(idClub, party.nummtt)">
					<td>{{party.dtemtt | date}}</td>
					<td>{{party.gmtrkg}}</td>
					<td class="hidden-xs">{{party.nbpmtt}}</td>
					<td class="hidden-xs"><table class="ranking-top3">
											<tr><td><div class="glyph-icon flaticon-emblem-1"></td> <td>{{party.fstmtt}}</td> </tr>
											<tr><td><div class="glyph-icon flaticon-emblem-2"></td> <td>{{party.scdmtt}}</td> </tr>
											<tr><td><div class="glyph-icon flaticon-emblem-3"></td> <td>{{party.trdmtt}}</td></tr>
										  </table>
					</td>
				</tr>
				<tfoot ng-show="rankingParties.length > 10">
					<tr>
						<td colspan="4" class="text-center">
							<div st-pagination="displayedRankingParties" st-items-by-page="10" st-template="templates/pagination.html"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</tab>
        <tab heading="Classement killer">
            <table st-table="displayedKillers" st-safe-src="rankingKillers" class="table table-bordered mpc-table">
                <tr>
                    <th>Place</th>
                    <th>Membre</th>
					<th>Nombre de kill</th>
                    <th>Fish</th>
                    <th>Shark</th>
                </tr>
                <tr class="mpc-table-list" ng-repeat="killer in displayedKillers" ng-click="showMember(idClub, killer.nummbr)">
					<td>{{killer.plcmbr}} <span class="glyph-icon flaticon-trophy36-{{killer.plcmbr}}-rnk" ng-show="killer.plcmbr<=3" /></td>
					<td>{{killer.psdmbr}}</td>
					<td>{{killer.nbkill}}</td>
					<td><div ng-show="killer.fish">{{killer.fish}} ({{killer.nbKillFish}} kills)</div></td>
					<td><div ng-show="killer.shark">{{killer.shark}} ({{killer.nbKillShark}} kills)</div></td>
                </tr>
				<tfoot ng-show="rankingKillers.length > 10">
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="displayedKillers" st-items-by-page="10" st-template="templates/pagination.html"></div>
						</td>
					</tr>
				</tfoot>
            </table>
        </tab>
	</tabset>
</div>
