<div class="container rankingList">
	<menuclub></menuclub>
	<h2>Liste des classements</h2>
	<!--Ranking-list template {{data}}-->

    <button class="btn btn-default" type="submit" ng-click="newRnk()" ng-show="isLogin()">Créer</button>

	<div st-table="displayedRankingList" st-safe-src="rankingList" >
		<div class="col-lg-12 list-filter">
			<h4>Filtres</h4>
			Nom
			<input st-search="nomrnk" placeholder="Recherche" type="search"/>
			<!--<input st-search="rnk.nomrnk" placeholder="search for firstname" class="input-sm form-control" type="search"/>-->
		</div>
		<table  class="table table-bordered mpc-table">

			<tr>
				<th>Classement</th>
				<th class="hidden-xs">Début le</th>
				<th class="hidden-xs">Fin le</th>
				<th>Nombre de parties</th>
				<th>Podium</th>
			</tr>
			<tr class="mpc-table-list" ng-repeat="rnk in displayedRankingList | filter:search" ng-click="showRnk(idClub, rnk.numrnk)">

				<td>{{rnk.nomrnk}}</td>
				<td class="hidden-xs">{{rnk.strrnk}}</td>
				<td class="hidden-xs">{{rnk.endrnk}}</td>
				<td>{{rnk.nbprnk}}</td>
				<td><table class="ranking-top3">
										<tr><td><div class="glyph-icon flaticon-trophy36-1"></div></td> <td>{{rnk.fstrnk}}</td> </tr>
										<tr><td><div class="glyph-icon flaticon-trophy36-2"></div></td> <td>{{rnk.scdrnk}}</td> </tr>
										<tr><td><div class="glyph-icon flaticon-trophy36-3"></div></td> <td>{{rnk.trdrnk}}</td></tr>
									  </table>
				</td>
			</tr>
			<tfoot ng-show="rankingList.length > 10">
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="displayedRankingList" st-items-by-page="10"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
